.idea

# Build files
/backend/target/
/backend/out/
/frontend/node_modules/
/frontend/dist/
Bonjour, je développe une app de gestion de budget "EconoMe" en Java et Angular pour m éntrainer et montrer ma motivation pour un entretien pour une alternance qui approche (Semaine prochaine).

Je souhaite effectuer d'avantage de Java que d'Angular.

Mon projet contient a la racine un dossier backend pour Java ou est deja initialiser mon projet Maven avec Spring. J'ai la page localhost qui charge bien, mais je n'ai aucune route.

Revoir les concepts de base : Assure-toi d'être à l'aise avec les concepts fondamentaux de Java tels que les objets, les classes, l'héritage, l'encapsulation, le polymorphisme, et les interfaces.
Comprendre les collections et les flux : Les structures de données comme les ArrayList, HashMap, Set, ainsi que le fonctionnement des flux (Streams) sont souvent abordés en entretien.
